<% content_for :header do %>
	<%= stylesheet_link_tag "event_calendar" %>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#help').click(function(){
				$('body').chardinJs('start');
  			});
		  	$('.ec-today-header').each(function(){
	    		$(this).attr("data-intro", "<%= t("intro.day_header")%>");
	    		$(this).attr("data-position", "bottom");
	  		});

			<% Category.all.each do |cat| %>
				$('.category-<%= cat.id %>').each(function() {
			      $(this).css("background-color", "<%= cat.color %>")
			    }); 
			<% end %>

		    $('.user-<%= current_user.id %>').each(function() {
	          $(this).addClass( "striped angled" );
		    }); 
		});
	</script>
<% end %>

<%= raw(event_calendar) %>

<div id="help">
	<a href="#" class="btn btn-large primary" data-toggle="chardinjs">Help!</a>
</div>

<div class="modal hide" id="addEventDialog">
 	<div class="modal-header">
    	<button class="close" data-dismiss="modal">×</button>
    	<h3>Create Event</h3>
  	</div>
    <div class="modal-body">
    	<%= render 'events/form' %>
    </div>
</div>

