<% content_for :header do %>
  <%= stylesheet_link_tag "devise.css" %>
<% end %>

<div class="container">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
                <h2><%= t(:forgot_password)%></h2>

                <%= f.email_field :email, :class => "login", :placeholder => t(:email) %>

                <div class="submit"><%= f.submit t(:reset_instructions), :class => "btn" %></div>
        <% end %>

        <center>
			<%= render "devise/shared/links" %>
        </center>
</div>
