<%= form_for(@event) do |f| %>
   <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
      <div class="control-group">
        <%= f.label 'start_at' %>
          <div class="controls startdate">
              <%= f.date_select :start_at, {:class => 'date-select'} %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label 'end_at' %>
          <div class="controls">
              <%= f.date_select :end_at, {:class => 'date-select'} %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label 'category' %>
          <div class="controls enddate">
              <%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name") %>
        </div>
      </div>
      
      <div class="actions">
        <%= f.submit 'Save', disable_with: 'Saving...' %>
      </div>

<% end %>
