<% content_for :header do %>
  <%= stylesheet_link_tag "devise.css" %>
<% end %>

<div class="container">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	
		<h2><%= t('sign_in')%></h2>
	
		<%= f.text_field :username, :class => "login", :placeholder => t('username') %><br />
		<%= f.password_field :password, :class => "login", :placeholder => t('password') %>

		<% if devise_mapping.rememberable? -%>
		  <div><%= f.check_box :remember_me %> <%= f.label t('remember_me') %></div>
		<% end -%>

		<div class="submit"><%= f.submit t('sign_in'), :class => "btn" %></div>
		<div class="right"> 
			<%= link_to t('forgot_password'), new_password_path(resource_name), :class => "btn" %><br />
		</div>
	<% end %>
	
	<center>
		<%= render "devise/shared/links" %>
	</center>
	
</div>