<!DOCTYPE html>
<html>
<head>
  <title>Holydays</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= yield :header %>
  <%= favicon_link_tag %>  

</head>
<body>

<div class="flash">
  <%= bootstrap_flash %>
</div>
<% if user_signed_in? %>
<ul id="userEvents">
  <li><b><%= t("username") %>: </b><%= current_user.username %></li>
  <li data-intro="<%= t("intro.used_holidays") %>" data-position="left" ><b>Benutzte Urlaubstage</b>: <%= display_sum_holidays() %></li>
</ul>
<div id="header"><%= t :vacation_calendar %></div>
  <ul id="menu">
    <li><%= link_to t('calendar'), calendar_path %></li>
    <li><%= link_to t('log'), log_datas_path %></li>
    <% if current_user.admin? %>
    <li><%= link_to t('categories.categories'), categories_path %></li>
    <% end %>
    <li><%= link_to t('logout'), destroy_user_session_path, :id => 'logout', :"data-user" => current_user.id, :method => "delete" %></li>
  </ul>
<% end %>
<div id="void"></div>

<%= yield %>

</body>
</html>
